.Container{
  width: 80vw;
  margin: 100px auto;
}

.option{
  display:flex;
  align-items: center;
  font-weight: bold;
}
.title{
  border-bottom: 1px solid rgb(81, 81, 81);
}
.option>p{
  margin: 0;
  margin-right: 10px;
}
.options_row{
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 20px 20px;
  background-color: rgb(241, 241, 241);
}